<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>

<th:block th:include="common/head.html"></th:block>
</head>
<body>
	
	<th:block th:include="common/navBar.html"></th:block>
	
	<div class="container">
		<div class="row mt-5 justify-content-center">
			<div class="col-8 text-center">
				<h1>Login Form</h1>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row mt-5 justify-content-center">
			<div class="col-8">
		<form action="/login" method="post">
			<div class="form-group">
				<label for="email">이메일 </label>
				<input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
				<!-- <small id="emailHelp" class="form-text text-muted" th:if="${fields.hasErrors('email')" th:errors="*{email}"></small> -->
			</div>
			
			<div class="form-group">
				<label for="password">비밀번호 </label>
				<input type="password" class="form-control" id="password" name="password">
			</div>
			<div th:text="${error}"></div>
			<button type="submit" class="btn btn-primary">로그인</button>
		</form>
		</div>
		</div>
	</div>
</body>
</html>