<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Register</title>

<th:block th:replace="common/html/head.html"></th:block>
</head>
<body>
	
	<th:block th:replace="common/html/navBar.html"></th:block>
	
	<div class="container">
		<div class="row mt-5 justify-content-center">
			<div class="col-8 text-center">
				<h1>Register Form</h1>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="row mt-5 justify-content-center">
			<div class="col-8">
				<form th:action="@{/register}" th:object="${memberDto}"  method="post">
					<div class="form-group">
						<label for="email">이메일 </label>
						<input type="email" class="form-control" th:field="*{email}" aria-describedby="emailHelp">
						<small class="form-text text-muted" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
					</div>
					
					<div class="form-group">
						<label for="password">비밀번호 </label>
						<input type="password" class="form-control" th:field="*{password}">
						<small class="form-text text-muted" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
					</div>
					
					<div class="form-group">
						<label for="rePassword">비밀번호 확인</label>
						<input type="password" class="form-control" th:field="*{rePassword}">
						<small class="form-text text-muted" th:if="${#fields.hasErrors('rePassword')}" th:errors="*{rePassword}"></small>
					</div>
					
					<button type="submit" class="btn btn-primary mt-3">회원가입</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>