<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Detail</title>
<!-- include libraries(jQuery, bootstrap) -->
<link
	href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css"
	rel="stylesheet">
<script
	src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script
	src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>


</head>
<style>
.icon{
	padding: 0;
    border: none;
    background-color: white;
    width: 30px;
}

#like, #bookmark, #report{
	width: inherit;
}

.control-button{
	float:right;
	margin-right: 5px;
}

footer{
	position: absolute;
	left:0;
	bottom:0;
	width:100%;
	background-color: black;
}

.list-type{
	list-style-type: none;
	padding-left: 15px;

}

#rdo-text-area{
	display:none;
	width:530px;
	height:80px;
	margin-left: 10px;
}

</style>

<body>

<div>
<a href="/accomadation/all">숙박정보</a>
<a href="/restaurant/all">맛집</a>
<a href="/festival/all">축제 정보</a>
<a href="/attractions/all">관광지</a>
</div>

	<div class="container">
		<div class="row marketing">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">
							<div style="font-size:12px;" th:text="|[${article.nation}]|"></div>
							<a th:utext="${article.title}" href="#"></a> <span
								th:utext="${article.registerDate}" class="pull-right text-right">
							</span>
						</h3>
					</div>
					<div th:utext="${article.content}" class="panel-body"></div>
				</div>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-lg-4">
				<button class="icon" id="icon-like">
					<img th:if="${liked} eq 1" id="like" th:name="${liked}" src="/img/imgs/like2.png">
					<img th:unless="${liked} eq 1" id="like" th:name="${liked}" th:src="@{/img/imgs/like1.png}">
				</button>
				<span th:text="${article.good}" id="likeCount">좋아요 숫자</span>
				<button class="icon" id="icon-bookmark">
					<img th:if="${bookmark} eq 1" id="bookmark" th:name="${bookmark}" src="/img/imgs/bookmark2.png">
					<img th:unless="${bookmark} eq 1" id="bookmark" th:name="${bookmark}" th:src="@{/img/imgs/bookmark1.png}">
				</button>
				<button class="icon" id="icon-report" onclick="$('#exampleModal').modal('show')">
					<img id="report" src="/img/imgs/report.png">
				</button>
				
				<span class="control-button">
				<button class="primary-btn btn"
						th:if="${session.memberId} == ${article.memberId}"
						th:onclick="|window.location.href='/article/update/${article.id}'|">수정하기</button>
				<button class="primary-btn btn"
						th:if="${session.memberId} == ${article.memberId}"
						th:onclick="|window.location.href='/article/delete/${article.id}'|">삭제하기</button>
				</span>
			</div>
		</div>
	</div>
	
	
	<!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" th:utext="|제목 : ${article.title}|">Modal title</h5>
                    <h5 class="modal-title" th:utext="|작성자 : ${article.email}|">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4>사유 선택 : 대표적인 사유를 선택해주세요.</h4>
                	<ul class="list-type">
	                    <li><input type="radio" name="checkInfo" id="rdo-illegal" value="1" checked="checked">부적절한 홍보 게시글</li>
	                    <li><input type="radio" name="checkInfo" id="rdo-obscenity" value="2">음란성 또는 청소년에게 부적합한 내용</li>
	                    <li><input type="radio" name="checkInfo" id="rdo-libel" value="3">명예훼손/사생활 침해 등 저작권침해 행위</li>
	                    <li><input type="radio" name="checkInfo" id="rdo-etc" value="4">기타</li>
                    </ul>
                    	<textarea id="rdo-text-area" name="reportDesc" cols="50" rows="5" placeholder="해당 신고는 커뮤니티 운영자에게 전달되며, 부적절한 내용으로 판단될 경우 해당 게시물은 삭제됩니다."></textarea>
                    
                    
                    
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" id="submit-report"data-dismiss="modal">신고하기</button>
                </div>
            </div>
        </div>
    </div>

	<footer>
	좋아요1 아이콘 제작자 <a href="https://www.flaticon.com/kr/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/kr/" title="Flaticon"> www.flaticon.com</a>
	좋아요2 아이콘 제작자 <a href="https://www.flaticon.com/kr/authors/vitaly-gorbachev" title="Vitaly Gorbachev">Vitaly Gorbachev</a> from <a href="https://www.flaticon.com/kr/" title="Flaticon"> www.flaticon.com</a>
	북마크 아이콘 제작자 <a href="https://www.flaticon.com/kr/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/kr/" title="Flaticon">www.flaticon.com</a>
	경고 아이콘 제작자 <a href="https://www.flaticon.com/kr/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/kr/" title="Flaticon"> www.flaticon.com</a>
	</footer>

	<script th:inline="javascript">
		$(document).ready(function(){
			/* <![CDATA[ */
			var articleId = [[${article.id}]]
			var liked = [[${liked}]]
			/* ]] */
			var likeIcon = $("#icon-like");
			$("#icon-like").on("click", function(){
 				$.ajax({
					url : '/article/like',
					type : 'POST',
					data : {'articleId': articleId},
					async : false,
					success : function(liked){
						likeIcon.prop("name", liked);
						if(liked){
							$("#like").prop("src", "/img/imgs/like2.png");
						} else {
							$("#like").prop("src", "/img/imgs/like1.png");
						}
					},
					complete : function(response){
						if(response.status == 302){
							window.location.href=response.responseText;
						}
					}
				});
				
				$.ajax({
					url : '/article/like',
					type : 'GET',
					data : {'articleId' : articleId},
					success : function(count){
						console.log(count);
						$("#likeCount").html(count);
					}
				})
			});
			
			$("#icon-bookmark").on("click", function(){
				$.ajax({
					url: '/ajax/bookmark',
					type : 'POST',
					data : {'articleId' : articleId},
					success : function(bookmark){
						$("#icon-bookmark").prop("name", bookmark);
						if(bookmark){
							$("#bookmark").prop("src", "/img/imgs/bookmark2.png");
						} else{
							$("#bookmark").prop("src", "/img/imgs/bookmark1.png");
						}
					},
					complete : function(response){
						if(response.status == 302){
							window.location.href=response.responseText;
						}
					}
				})
			});
			
			$("input:radio[name=checkInfo]").on("click", function(){
				if($("input[name=checkInfo]:checked").val() == 4){
					$("#rdo-text-area").css("display", "block");
				} else{
					$("#rdo-text-area").css("display", "none");
				}
			})
			
			$("#submit-report").on("click", function(){
				var checkInfo = $("input[name=checkInfo]:checked").val();
				var sendData = {'articleId':articleId, 'checkInfo':checkInfo};
				if(checkInfo == 4){
					reportContent = $("#rdo-text-area").val();
					sendData['reportContent'] = reportContent;
				}
				$.ajax({
					url : '/ajax/report',
					type : 'POST',
					data : sendData,
					success : function(data){
						alert("신고가 접수되었습니다.");
					}
				});
			});
		});
	</script>
</body>
</html>