<!DOCTYPE html>
<html>
<head xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<title>Detail</title>

<script
	src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script src="/js/article/detail.js"></script>

<th:block th:replace="common/html/head.html"></th:block>

</head>
<style>
.icon{
	padding: 0;
    border: none;
    background-color: white;
    width: 30px;
}

.icon>img{
    width: inherit;
}

.control-button{
	float:right;
	margin-right: 5px;
}

footer{
	position: absolute;
	left:0;
	bottom:0;
	width:100%;
	background-color: black;
}

.list-type{
	list-style-type: none;
	padding-left: 15px;

}

#rdo-text-area, #rdo-text-area2{
	display:none;
	width:530px;
	height:80px;
	margin-left: 10px;
}

.len-count{
	display:none;
}

 .pb-cmnt-container {
     font-family: Lato;
     margin-top: 10px;
 }

 .pb-cmnt-textarea {
     resize: none;
     padding: 20px;
     height: 130px;
     width: 100%;
     border: 1px solid; 
 }
 .panel {
 	margin: 10px;
 }
 
 .comment-event{
 	cursor: pointer;
 }
 
 .text-gray{
 	color:gray;
 }
 
 .article-nation{
 	color:red;
 }
 
</style>

<body>

<th:block th:replace="common/html/navBar.html"></th:block>

	<div class="container mt-5">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header">
						<div class="article-nation" th:text="|[${article.nation}]|"></div>
                     	<div class="card-title h2" th:utext="${article.title}"></div>
                     	<div class="meta-info row">
                     		<div class="col-9">
	                    		<span style="display:none" id="articleId" th:text="${article.id}" ></span>
	                    		<span id="email" th:text="${article.email}" ></span>
	                       		<small class="ml-2 text-gray" th:utext="${#temporals.format(article.registerDate, 'yyyy-MM-dd HH:mm')}"></small>
	                       		<small class="ml-5 text-gray" th:if="${article.updateDate}!=null" th:utext="|수정일자 :${#temporals.format(article.updateDate, 'yyyy-MM-dd HH:mm')}"></small>
	                        </div>
	                        <div class="col text-right text-gray">
		                        <small class="card-text">조회 : </small>
		                        <small class="card-text" th:text="${article.hit}"></small>
		                        <small class="card-text">댓글 : </small>
		                        <small class="card-text commentCount" th:text="${article.commentCnt}"></small>
		                        <small class="card-text">좋아요  : </small>
		                        <small class="card-text likeCount" th:text="${article.good}"></small>
                     		</div>
                    	</div>
					</div>
					<span th:if="${article.nation}==KR">
						<th:block th:replace="common/html/domestic_map.html"></th:block>
					</span>
					<div class="card-body" th:utext="${article.content}"></div>
				</div>
			</div>
		</div>
		<div class="row mt-1">
			<div class="col">
				<span class="control-button float-left">
					<button class="btn btn-primary"
							th:if="${session.memberId} == ${article.memberId}"
							th:onclick="|window.location.href='/article/update/${article.id}'|">수정하기</button>
					<button class="btn btn-danger"
							th:if="${session.memberId} == ${article.memberId}"
							th:onclick="|window.location.href='/article/delete/${article.id}'|">삭제하기</button>
				</span>
			</div>
			<div class="col">
				<span class="float-right">
					<button class="icon" id="icon-like">
						<img th:if="${article.liked}" id="like" src="img/imgs/like2.png">
						<img th:unless="${article.liked}" id="like" th:src="@{/img/imgs/like1.png}">
					</button>
					<span th:text="${article.good}" class="likeCount">좋아요 숫자</span>
					<button class="icon" id="icon-bookmark">
						<img th:if="${article.bookmarked}" id="bookmark" th:name="${article.bookmarked}" src="/img/imgs/bookmark2.png">
						<img th:unless="${article.bookmarked}" id="bookmark" th:name="${article.bookmarked}" th:src="@{/img/imgs/bookmark1.png}">
					</button>
					<button class="icon" id="icon-article-report">
						<img class="report" src="/img/imgs/report.png">
					</button>
				</span>
			</div>
		</div>
	</div>
	
	<div class="container mt-4">
        <div class="commentList" id="commentList"></div>
    </div>

	<div class="container pb-cmnt-container" id="commentInsert"></div>
	
	<div class="container pb-cmnt-container">
	    <div class="row" style="background-color:#F8F8F8">
	        <div class="col-md-10 col-md-offset-1">
	            <div class="panel panel-default">
	                <div class="panel-body">
	                	<span th:if="${session.email != null}"><i class="mr-1 fas fa-user"></i><strong id="writer" th:text="${session.email}"></strong></span>
	                    <textarea th:if="${session.email == null}" placeholder="로그인이 필요한 작업입니다." class="pb-cmnt-textarea" id="commentContent" name="commentContent"
	                    onclick="window.location.href='/login'"></textarea>
	                    <textarea th:unless="${session.email == null}" placeholder="댓글을 입력해주세요." class="pb-cmnt-textarea" id="commentContent" name="commentContent"
	                    onkeyup="checkLength(this,$('#comment-len-count'), 300)"></textarea>
                    	<span id="comment-len-count">(0 / 300 자)</span>
                        <button class="btn btn-primary pull-right" type="button" id="comment-insert">등록</button>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

	<th:block th:replace="common/html/report_modal.html"></th:block>


<script th:inline="javascript">
	$(document).ready(function(){
		/* <![CDATA[ */
		var articleId = [[${article.id}]]
		// var liked = [[${article.isLiked}]]
		/* ]] */
		var likeIcon = $("#icon-like");
		
		$("#icon-like").on("click", function(){
			console.log("??");
				$.ajax({
				url : '/article/like',
				type : 'POST',
				data : {'articleId': articleId},
				async : false,
				success : function(liked){
					likeIcon.prop("name", liked);
					if(liked){
						$("#like").prop("src", "/img/imgs/like2.png");
					} else {
						$("#like").prop("src", "/img/imgs/like1.png");
					}
				},
				error: function(response, status, error){
					if(response.status == 401){
						alert("로그인이 필요한 작업입니다.");
						window.location.href=response.responseJSON.message;
					}
				}
			});
			
			$.ajax({
				url : '/article/like',
				type : 'GET',
				data : {'articleId' : articleId},
				success : function(count){
					$(".likeCount").html(count);
				}
			})
		});
		
		$("#icon-bookmark").on("click", function(){
			$.ajax({
				url: '/ajax/bookmark',
				type : 'POST',
				data : {'articleId' : articleId},
				success : function(bookmark){
					$("#icon-bookmark").prop("name", bookmark);
					if(bookmark){
						$("#bookmark").prop("src", "/img/imgs/bookmark2.png");
					} else{
						$("#bookmark").prop("src", "/img/imgs/bookmark1.png");
					}
				},
				error: function(response, status, error){
					if(response.status == 401){
						alert("로그인이 필요한 작업입니다.");
						window.location.href=response.responseJSON.message;
					}
				}
			})
		});
		$("#icon-article-report").on("click", function(){
			$.ajax({
				url : '/ajax/session-email',
				type : 'GET',
				success: function(data){
					$('#articleReportModal').modal('show');				
				}
			});
		});
		

		
		$("input:radio[name=checkInfo]").on("click", function(){
			if($("input[name=checkInfo]:checked").val() == 4){
				$("#rdo-text-area").css("display", "block");
				$("#report-len-count").css("display", "block");
			} else{
				$("#rdo-text-area").css("display", "none");
				$("#report-len-count").css("display", "none");
			}
		})
		
		$("input:radio[name=checkInfo2]").on("click", function(){
			if($("input[name=checkInfo2]:checked").val() == 4){
				$("#rdo-text-area2").css("display", "block");
				$("#report-len-count2").css("display", "block");
			} else{
				$("#rdo-text-area2").css("display", "none");
				$("#report-len-count2").css("display", "none");
			}
		})
		
		$("#submit-comment-report").on("click", function(){
			var checkInfo = $("input[name=checkInfo2]:checked").val();
			var commentId = $('#commentReportId').val();
			var sendData = {'targetId':commentId, 'checkInfo':checkInfo};
			if(checkInfo == 4){
				reportContent = $("#rdo-text-area2").val();
				sendData['content'] = reportContent;
				$("#rdo-text-area2").val('');
			}
			$.ajax({
				url : '/ajax/report/COMMENT',
				type : 'POST',
				contentType : "application/json; charset=utf-8",
				data : JSON.stringify(sendData),
				success : function(data){
					alert(data);
				}
			});
		});
		
		$("#submit-article-report").on("click", function(){
			var checkInfo = $("input[name=checkInfo]:checked").val();
			var sendData = {'targetId':articleId, 'checkInfo':checkInfo};
			if(checkInfo == 4){
				reportContent = $("#rdo-text-area").val();
				sendData['content'] = reportContent;
				$("#rdo-text-area").val('');
			}
			$.ajax({
				url : '/ajax/report/ARTICLE',
				type : 'POST',
				contentType : "application/json; charset=utf-8",
				data : JSON.stringify(sendData),
				success : function(data){
					alert(data);
				}
			});
		});
	});
	
	function checkLength(obj, target, length){
		var content = $(obj).val();
		target.html(`(${content.length} / ${length} 자)`);
		
		if(content.length > length){
			$(obj).val(content.substring(0,length-1));
			target.html(`(${length} / ${length} 자)`);
		}
	}
	</script>
</body>
</html>