<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>

<!-- include libraries(jQuery, bootstrap) -->
<th:block th:include="common/head.html"></th:block>

<style>
#search{
	width:80%;
	display:inline;
}
</style>

</head>
<body>
	
	<th:block th:include="common/navBar.html"></th:block>

	<div class="container mt-5">
		<div class="row">
			<div class="col-12">
				<ul class="nav nav-tabs justify-content-center">
					<li class="nav-item"><a class="nav-link active" href="./all">전체</a></li>
					<li class="nav-item"><a class="nav-link" href="./tw">대만</a></li>
					<li class="nav-item"><a class="nav-link" href="./la">라오스</a></li>
					<li class="nav-item"><a class="nav-link" href="./my">말레이시아</a></li>
					<li class="nav-item"><a class="nav-link" href="./vn">베트남</a></li>
					<li class="nav-item"><a class="nav-link" href="./sg">싱가폴</a></li>
					<li class="nav-item"><a class="nav-link" href="./jp">일본</a></li>
					<li class="nav-item"><a class="nav-link" href="./cn">중국</a></li>
					<li class="nav-item"><a class="nav-link" href="./th">태국</a></li>
				</ul>
			</div>
		</div>
	  <div class="row mt-4 justify-content-center">
	    <div class="col col-lg-2">
	      <h1>글목록</h1>
	    </div>
	  </div>
		<div class="row">
			<div class="col">
				<div class="btn-group" role="group">
					<a type="button" class="btn btn-secondary" id="newest">최신순</a>
					<a type="button" class="btn btn-secondary" id="popular">인기순</a>
				</div>
			</div>
			<div class="justify-content-right">
				<div class="search-group">
					<input class="form-control" type="text" id="search" placeholder="제목 검색"/>
					<i class="fas fa-search" id="search-icon"></i>
				</div>
			</div>
		</div>
	</div>

	
	<div class="container mt-2">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">번호</th>
					<th scope="col">제목</th>
					<th scope="col">날짜</th>
					<th scope="col">조회수</th>
				</tr>
			</thead>
			<tr th:each="article,iterStat : ${page.list}">
				<th scope="row" th:text="${iterStat.count}"></th>
				<td><a th:href="@{/article/{id}(id=${article.id})}">
						<span th:utext="|[${article.nation}]| "></span>
						<span th:utext="|${article.title}|"></span>
						<span th:utext="|[${article.commentCnt}]|"></span>
					</a>
				</td>
				<td th:text="${#temporals.format(article.registerDate, 'yyyy-MM-dd HH:mm')}"></td>
				<td th:text="${article.hit}"></td>
			</tr>
		</table>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col">
				<nav aria-label="Search result page">
					<ul class="pagination justify-content-center">
						<li class="page-item"><a class="page-link" href="#"
							aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
						</a></li>
						<li class="page-item" th:each="num : ${#numbers.sequence(1,{page.sizeOfPage})}">
						<a class="page-link" href="#" th:text="${page.startPageNo}+${numStat.index}"></a></li>
						<li class="page-item"><a class="page-link" href="#"
							aria-label="Next"> <span aria-hidden="true">&raquo;</span>
						</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<h1 th:text="|Total : ${page.numberOfRecords}|"></h1>

	<button onclick="window.location.href='./write'">글쓰기</button>

	<script>
		$(function() {
			var url = location.pathname;
			var queryString = location.search;
			var paramMap = queryStringToObject(queryString);

			sortHref($("#newest"), url, paramMap);
			sortHref($("#popular"), url, paramMap);

			$("#search-icon").on("click", function() {
				search(url, paramMap);
			});
		});

		function search(url, paramMap) {
			var search = $("#search").val().trim();

			if (search == "") {
				alert("검색할 내용을 넣어주세요.");
			} else {
				paramMap["search"] = search;
				window.location.href = url + objectToQueryString(paramMap);
			}
		}

		function sortHref(obj, url, params) {
			params["sort"] = obj.attr("id");
			var qs = objectToQueryString(params);
			obj.attr("href", url + qs);
		}

		function objectToQueryString(obj) {
			var qs = "?";
			for ( var prop in obj) {
				qs += prop + "=" + obj[prop] + "&";
			}

			return qs.slice(0, -1);
		}

		function queryStringToObject(queryString) {
			if (queryString.length == 0) {
				return {};
			}
			var paramObj = {};
			var params = queryString.substr(1).split("&");
			params.forEach(function(param) {
				i = param.indexOf("=");
				paramObj[param.substr(0, i)] = param.substr(i + 1);
			});
			return paramObj;
		}
	</script>
</body>
</html>
