<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<a th:if="${session.memberId ==null}" href="/login">Login</a>
<a th:if="${session.memberId ==null}" href="/register">Register</a>

<a th:unless="${session.memberId ==null}" href="/logout">Logout</a>
<a th:unless="${session.memberId ==null}" href="/mypage/member">Mypage</a>

<div>
<a href="/accomadation/all">숙박정보</a>
<a href="/restaurant/all">맛집</a>
<a href="/festival/all">축제 정보</a>
<a href="/attractions/all">관광지</a>
</div>
<br>
<div>
<a href="./all">전체</a>
<a href="./tw">대만</a>
<a href="./jp">일본</a>
<a href="./cn">중국</a>
<a href="./th">태국</a>
<a href="./vn">베트남</a>
</div>

<h3>정렬</h3>
<div>
	<a href="?sort=newest">최신순</a>
	<a href="?sort=popular">인기순</a>
</div>

<div>
검색
</div>


<div>
	<table>
		<thead>
			<tr>
				<td>번호</td>
				<td>제목</td>
				<td>날짜</td>
				<td>조회수</td>
			</tr>
		</thead>
		<tr th:each="article,iterStat : ${page.list}">
			<td th:text="${iterStat.count}"></td>
			<td><a th:href="@{/article/{id}(id=${article.id})}" th:utext="|[${article.nation}] ${article.title} [${article.commentCnt}]|"></a></td>
			<td th:text="${article.registerDate}"></td>
			<td th:text="${article.hit}"></td>
		</tr>
	</table>
</div>

<h1 th:text="|Total : ${page.numberOfRecords}|"></h1>

<button onclick="window.location.href='./write'">글쓰기</button>

<script>
$(function(){
	var 
})
</script>

</body>
</html>