<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<th:block th:replace="common/html/head.html"></th:block>
</head>
<body>
	
	<th:block th:replace="common/html/mypage_nav_bar"></th:block>
	
	<div class="row mt-4 text-center">
	    <div class="col mb-5">
	    </div>
	  </div>
	
	<th:block th:replace="common/html/article_list.html"></th:block>
	<th:block th:replace="common/html/pagination.html"></th:block>
	
</body>
</html>