<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<a href="/mypage/member">회원 정보</a>
	<a href="/mypage/temp_article">임시 저장글</a>
	<a href="/mypage/article">작성글</a>
	<a href="/mypage/comment">작성댓글</a>
	<a href="/mypage/bookmark">즐겨찾기 목록</a>

	<table>
		<thead>
			<tr>
				<td>번호</td>
				<td>내용</td>
				<td>날짜</td>
				<td>좋아요</td>
			</tr>
		</thead>
		<tr th:each="comment : ${mypage.page.list}">
			<td th:text="${comment.id}"></td>
			<td th:text="${comment.content}"></td>
			<td th:text="${comment.registerDate}"></td>
			<td th:text="${comment.good}"></td>
		</tr>
	</table>
	
	<h1 th:text="|Total : ${mypage.page.numberOfRecords}|"></h1>

</body>
</html>