<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<th:block th:replace="common/html/head.html"></th:block>
</head>
<body>
	
	<th:block th:replace="common/html/mypage_nav_bar"></th:block>
	
	<div class="row mt-4 text-center">
	    <div class="col">
	      <h1>작성 댓글</h1>
	    </div>
	  </div>
	
	<div class="container">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">번호</th>
					<th scope="col">내용</th>
					<th scope="col">날짜</th>
					<th scope="col">좋아요</th>
				</tr>
			</thead>
			<tr th:each="comment,iterStat : ${page.list}">
				<th scope="row" th:text="${iterStat.count} + ${page.currentPageNo-1}*${page.recordsPerPage}"></th>
				<td th:text="${comment.content}"></td>
				<td th:text="${#temporals.format(article.registerDate, 'yyyy-MM-dd HH:mm')}"></td>
				<td th:text="${comment.good}"></td>
			</tr>
		</table>
		<div class="row justify-content-between mb-3">
			<div class="col-4 float-left mt-2">
				<h5 th:text="|Total : ${page.numberOfRecords}|"></h5>
			</div>
		</div>
	</div>
	
	
	
	<th:block th:replace="common/html/pagination.html"></th:block>
	
</body>
</html>