<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Mypage-MemberInfo</title>
<th:block th:replace="common/html/head.html"></th:block>
</head>
<body>
	
	<th:block th:replace="common/html/mypage_nav_bar"></th:block>

<div class="container-sm mt-5">
	<div class="row justify-content-center">
		<div class="col-8">
			<div class="card">
			  <div class="card-body">
			    <h1 class="card-title">회원 정보</h1>
			  </div>
			  
			  <ul class="list-group list-group-flush" th:object="${member}">
			    <li class="list-group-item" th:text="|이메일 : *{email}|"></li>
			    <li class="list-group-item" th:text="|가입일자 : ${#temporals.format(member.registerDate, 'yyyy-MM-dd HH:mm')}|"></li>
			    <li class="list-group-item" th:text="|최근 로그인 : ${#temporals.format(member.loginDate, 'yyyy-MM-dd HH:mm')}|"></li>
			    <li class="list-group-item" th:text="|좋아요 수 : ${like}|"></li>
			  </ul>
			  <div class="card-body">
			    <a href="/mypage/update" class="card-link">회원 정보 변경</a>
			    <a href="/mypage/delete" class="card-link text-danger">탈퇴</a>
			  </div>
			</div>
		</div>
	</div>
</div>


</body>
</html>