<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<a href="/mypage/member">회원 정보</a>
	<a href="/mypage/temp_article">임시 저장글</a>
	<a href="/mypage/article">작성글</a>
	<a href="/mypage/comment">작성댓글</a>
	<a href="/mypage/bookmark">즐겨찾기 목록</a>


<div>
	<ul style="list-style-type: none;font-size: larger;"th:object="${mypage.member}">
		<li th:text="|아이디 : *{email}|"></li>
		<li th:text="|가입일자 : *{registerDate}|"></li>
		<li th:text="|최근 로그인 : *{loginDate}|"></li>
		<li th:text="|좋아요 수 : ${mypage.like}|"></li>
	</ul>
</div>

<a href="/mypage/update">회원 정보 변경</a>
<a href="/mypage/delete">탈퇴</a>

</body>
</html>