<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>임시저장글</title>
<th:block th:replace="common/html/head.html"></th:block>

<link rel="stylesheet" type="text/css" href="/css/article/article_list.css" />

</head>
<body>
	
	
	<th:block th:replace="common/html/mypage_nav_bar"></th:block>

	<div class="row mt-4 text-center">
	    <div class="col mb-5">
	    </div>
	  </div>
	
	<div class="container mt-3">		
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">번호</th>
					<th scope="col">제목</th>
					<th scope="col">날짜</th>
				</tr>
			</thead>
			<tr th:each="article,iterStat : ${page.list}">
				<th scope="row" th:text="${iterStat.count} + ${page.currentPageNo-1}*${page.recordsPerPage}"></th>
				<td><a class="list-title" th:href="@{/article/write(id=${article.articleId})}">
					<span class="article-nation" th:utext="|[${article.nation}]|"></span>
					<span th:utext="|${#strings.abbreviate(article.title,35)}|"></span>
				</a></td>
				<td th:text="${#temporals.format(article.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
			</tr>
		</table>
		<div class="row">
			<div class="col-4 float-left mt-2">
				<h5 th:text="|Total : ${page.numberOfRecords}|"></h5>
			</div>
		</div>
	</div>
	


</body>
</html>