<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<a href="/mypage?info=member">회원 정보</a>
<a href="/mypage?info=temp_article">임시 저장글</a>
<a href="/mypage?info=article">작성글</a>
<a href="/mypage?info=comment">작성댓글</a>
<a href="/mypage?info=bookmark">즐겨찾기 목록</a>

<form method="POST" action="/mypage/update">
	<div>
	<label for="email">아이디 : </label>
	<input type="text" th:value="${session.email}" id="email" name="email" readonly="readonly">
	</div>
	<div>
	<label for="password">비밀번호 : </label>
	<input type="password" id="password" name="password" placeholder="비밀번호">
	</div>
	<div>
	<label for="re_password">비밀번호 확인 : </label>
	<input type="password" id="re_password" name="rePassword" placeholder="비밀번호 확인">	
	</div>
	<div th:text="${error}"></div>
	
	<input type="submit" value="변경">
</form>

</body>
</html>