<div class="container mt-2">
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">번호</th>
				<th scope="col">제목</th>
				<th scope="col">날짜</th>
				<th scope="col">조회수</th>
			</tr>
		</thead>
		<tr th:each="article,iterStat : ${page.list}">
			<th scope="row" th:text="${iterStat.count} + ${page.currentPageNo-1}*${page.recordsPerPage}"></th>
			<td><a th:href="@{/article/{id}(id=${article.id})}">
					<span class="article-nation" th:utext="|[${article.nation}]|"></span>
					<span th:utext="|${article.title}|"></span>
					<span th:utext="|[${article.commentCnt}]|"></span>
				</a>
			</td>
			<td th:text="${#temporals.format(article.registerDate, 'yyyy-MM-dd HH:mm')}"></td>
			<td th:text="${article.hit}"></td>
		</tr>
	</table>
	<div class="row justify-content-between mb-3">
		<div class="col-4 float-left mt-2">
			<h5 th:text="|Total : ${page.numberOfRecords}|"></h5>
		</div>
		<div class="col-2">
			<button class="btn btn-primary float-right" onclick="window.location.href='/article/write'">글쓰기</button>
		</div>
	</div>
</div>

<style>
.article-nation{
	color: red;
}
</style>