<div id="map" style="width: 100%; height: 500px;"></div>

<script type="text/javascript"
	src="//dapi.kakao.com/v2/maps/sdk.js?appkey=00b3e879474a452f47bcfbe656b36ac8"></script>
<script th:inline="javascript">
		/*<![CDATA[*/
		var gpsInfo = /*[[ ${article.gpsInfo} ]]*/;
		/*]]*/
		
		var points = []
		
		for(var info of gpsInfo){
			points.push(new kakao.maps.LatLng(info['latitude'], info['longitude']));
		}
		
		// 지도에 표시할 선을 생성합니다
		var polyline = new kakao.maps.Polyline({
		    path: points, // 선을 구성하는 좌표배열 입니다
		    strokeWeight: 2, // 선의 두께 입니다
		    strokeColor: 'red', // 선의 색깔입니다
		    strokeOpacity: 0.7, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
		    strokeStyle: 'solid' // 선의 스타일입니다
		});
		
		
		var container = document.getElementById('map');
		var options = {
			center: new kakao.maps.LatLng(33.450701, 126.570667),
			level: 3
		};

		var map = new kakao.maps.Map(container, options);
		
		// 마커 이미지입니다.

		// 지도를 재설정할 범위정보를 가지고 있을 LatLngBounds 객체를 생성합니다
		var bounds = new kakao.maps.LatLngBounds();    
		var startMarker;
		var i, marker;
		for (i = 0; i < points.length; i++) {
		    // 배열의 좌표들이 잘 보이게 마커를 지도에 추가합니다
		    marker = new kakao.maps.Marker({ position : points[i] });
		    marker.setMap(map);
		    if(i==0) startMarker = marker;
		    
		    // LatLngBounds 객체에 좌표를 추가합니다
		    bounds.extend(points[i]);
		}

		polyline.setMap(map);
		setBounds();
		
		var content = '<div style="margin-top:15px; width:3rem;" class="badge badge-primary text-wrap">출발!</div>';
		var position = points[0];
		
		var customOverlay = new kakao.maps.CustomOverlay({
			position : position,
			content : content
		});
		
		customOverlay.setMap(map);
		
		function setBounds() {
		    // LatLngBounds 객체에 추가된 좌표들을 기준으로 지도의 범위를 재설정합니다
		    // 이때 지도의 중심좌표와 레벨이 변경될 수 있습니다
		    map.setBounds(bounds);
		}
</script>
