<th:block th:replace="common/html/navBar.html"></th:block>
<div class="container mt-5">
	<div class="row">
		<div class="col-12">
			<ul id="mypage-nav" class="nav justify-content-center">
				<li class="nav-item"><a class="nav-link" href="/mypage/member">회원 정보</a></li>
				<li class="nav-item"><a class="nav-link" href="/mypage/article">작성 글</a></li>
				<li class="nav-item"><a class="nav-link" href="/mypage/temp_article">임시 저장 글</a></li>
				<li class="nav-item"><a class="nav-link" href="/mypage/comment">작성 댓글</a></li>
				<li class="nav-item"><a class="nav-link" href="/mypage/bookmark">즐겨찾기</a></li>
			</ul>
		</div>
	</div>
</div>