<div class="container">
	<div class="row">
		<div class="col">
			<nav aria-label="Search result page">
				<ul class="pagination justify-content-center">
					<li th:class="${page.startPageNo == 1} ? 'page-item disabled' : 'page-item'"><a class="page-link" th:href="${page.startPageNo} - ${page.sizeOfPage}"
						aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
					</a></li>
					<li th:class="${page.currentPageNo} == ${num} ? 'page-item active' : 'page-item' " th:each="num : ${#numbers.sequence({page.startPageNo},{page.endPageNo})}">
					<a class="page-link" th:href="${num}" th:text="${num}"></a></li>
					<li th:class="${page.endPageNo} == ${page.finalPageNo} ? 'page-item disabled' : 'page-item'"><a class="page-link" th:href="${page.startPageNo} + ${page.sizeOfPage}"
						aria-label="Next"> <span aria-hidden="true">&raquo;</span>
					</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>