<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.board.repository.PostFileRepositoryCustom">
	
	<select id="selectByArticleIds" parameterType="java.util.Collection" resultType="PostFile">
		SELECT pf.dir_path, pf.file_name, pf.article_id
		FROM post_file pf
		WHERE pf.article_id in
		<foreach collection="list" separator="," open="(" close=")" item="articleId">
			#{articleId}
		</foreach>
		ORDER BY pf.created_date DESC;
	</select>
	
</mapper>