<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.board.repository.ReportRepository">
	
	<insert id="insertReport" useGeneratedKeys="true">
		 INSERT
		 INTO `report`(member_id, target, target_id, info_id, process, register_date, content)
		 VALUES(#{memberId}, #{target}, #{targetId}, #{infoId}, 0, NOW(), #{content})
	</insert>
	
	<select id="selectReportByTargetIdAndMemberId" resultType="Report">
		SELECT *
		FROM `report`
		WHERE member_id = #{memberId}
		AND target_id = #{targetId}
		AND target = #{target}
	</select>

</mapper>