<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.board.repository.UploadFileRepository">

	<insert id="insert" parameterType="uploadFile"
	useGeneratedKeys="true" keyProperty="id">
		INSERT INTO upload_file(origin_file_name, dir_path, file_name, content_type, size, latitude, longitude, register_date)
		VALUES(#{originFileName}, #{dirPath}, #{fileName}, #{contentType}, #{size}, #{latitude}, #{longitude}, NOW())
	</insert>
	
	<select id="selectByFileName" resultType="uploadFile">
		SELECT *
		FROM upload_file
		WHERE file_name = #{fileName}
	</select>
	
	<select id="selectByFileNames" resultType="uploadFile">
		SELECT *
		FROM upload_file
		WHERE file_name in
		<foreach collection="list" item="fileName" separator="," open="(" close=")">
			#{fileName}
		</foreach>
	</select>

</mapper>